*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.card{
    background-color: var(--primary_color_light);
    margin: 0.75rem;
    text-align: center;
    padding: 1rem 0.75rem ;
}

.cards{
    margin: 0 -0.75rem;
}

.card_top > p ,.card_bot > p{
    color: var(--text_primary);
    line-height: 1.5rem;
    font-size: 14px;
    text-align: left;
    margin: 1.5rem;
}

.picture_planning{
   width: 100%;
}

.text{
    padding: 2rem 0;
}

.text > h3,.text > h4{
    padding-bottom: 2rem;
}

.top > h3,.top > p{
    color: white;
}

.text.bot{
    text-align: center;
}

#planning{
    min-height:300px ;
    padding-bottom: 50px;
    background-color: #8A88E2;
}

#planning.container{
    width: 90%;
}

.left_pic{
    margin-bottom: 2rem;
}

.introduction{
    text-align: center;  
}

.small_title{
   text-align: center;
}

/* .btn.rounded.purple{
    height: 45px;
    width: 45px;
    margin: auto; 
    background-color: var(--secondary_color);
    border-radius: 50%;
} */

.btn.bot_button{
    background: var(--secondary_color);
    width: 35%;
}

.btn.bot_button a{
    text-decoration: none;
    color: white;  
}

.btn.bot_button.linkedin {
    width: 213px;
}

p.line_text.smaller_font {
    padding-bottom: 20px;
}

header{
    background-color: var(--primary_color);
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.header_top{
    height: 100%;
}

main{
    padding-top: 100px;
}

.container{
    max-width: 600px;
    margin: auto;
    padding: 0 2rem;
}

.container.top{
    height: 100%;
}

.box.right i{
    color: white;
}

.hidden{
    display: none;
}

.hidden li {
    list-style: none;
}

.hidden a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.btn{
    border-radius: 25px;
    padding: 5px 30px;  
}

.card_top > h3 ,.card_bot > h3{
    color: var(--primary_color);
    padding: 2rem 0 0;
}

a.btn{
    color: black;
    background-color: white;
    text-decoration: none;
}

a.blue{
    background-color: var(--primary_color);
    color: white;   
}

.first > .card_top{
    text-align: center;
    padding-bottom: 1rem;
}

.first > i{
    padding-top: 1rem;
}

.card_top > p {
    padding-bottom: 20px;
} 

img.phone{
     width: 50%;
     position: relative;
     top: 20px;    
} 

img{
    width: 100%;
}

.card_top > i{
    color: var(--primary_color);
    font-size: 5rem;
    text-align: center;
}

#planning,#working_with_us,#get_started{
    background-color: var(--secondary_color);  
}

.text.bot p{
    margin: 0 1rem;
}

#testimonials{
    padding-top: 50px;
}

.testimonial{
    margin-top: 50px;
    background-color: var(--secondary_color);
    text-align: center;
}

.testimonial > img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial_text{
    line-height: 1.5rem;
}

.pic{
    background-color: darkmagenta;
    height: 50px;
}

.white{
    background-color: white;
}

.card.bot{
    text-align: left;
}

.us_top > p{
    padding: 2rem;
    line-height: 2rem;
}

.us_top > h2{
    text-align: center;
}

.card.bot > h3{
    margin: 2rem 0;
}

.us_bot{
    margin-bottom: 50px;
}

.us_bot > img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.us_bot > h3{
    max-width: 220px;
}

#get_started{
    text-align: center;
    color: white;
}

h1{
    color: #FDB855;
    padding: 2rem;
}

.giant{
    background-color: white;
    margin: 20px 0 ;
    padding: 20px ;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
}
@media screen and (min-width: 768px)
{
    .container{
        max-width: 740px;       
    }

    .cards{
        display: flex;
        flex-wrap: wrap;             
    }

    .card_top > p ,.card_bot > p{
        margin: 1rem 0;
    }

    .card.first{
        width: calc((100% / 3) * 2 - 1.5rem);         
    } 

    .first > .card_top {
        text-align: left;
        padding-bottom: 1rem;
    }

    .card{
        width: calc(100% / 3 - 1.5rem);         
    }

    img.phone {
        width: 50%;
    }
    
    .text > h3{
        font-size: 30px;
    }

    .testimonial{
        display: flex;
    }

    .testimonial > img{
        margin-left: 1rem;
    }

    .testimonial_text{
        text-align: left;
        padding: 2rem;
    }

    .name{
        padding: 1rem 0 ;
    }

    .card.bot{
         width: calc(100% / 2 - 1.5rem);
    }

    .about_us_container{
        display: flex;
    }

    .us_top,.us_bot{
        width: 100%;
    }
}

@media screen and (min-width: 992px)
{
    .container{
        max-width: 960px;
    }

    .visible{
        display: none;
    }

    .hidden{
        display: block;
    }

    .hidden ul{
        display: flex;
    }

    .card.first{       
        display: flex;
        justify-content: space-between;      
    } 

    img.phone {
        width: 100%;
        top: 74px;
    }

    .cols{
        display: flex;
        height: 45rem;
    }

    .col{
        width: 100%;
        margin: 10px;
    }

    .left_pic{
        align-self: center;       
    }

    .right_pic{
        align-self: flex-end;      
    }

    .text.top{
        margin-top: 3rem;
        position: relative;
        top: 6rem;
    }


    #planning .container{
        padding: 0 6rem;
    }

    #planning {
        min-height: 900px;
    }

    .testimonial{
        display: flex;
    }

    .pic,.testimonial_text{
        width: 100%;
    }

    .card.bot{
        width: calc(100% / 3 - 1.5rem);       
    }

   

    #get_started .container, footer .container{
        width: 60%;
    }
}

@media screen and (min-width: 1200px)
{
    .container{
        max-width: 1170px;
    }
}

/* utility */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.rounded{
    border-radius: 1.5rem;
}

:root{
    --primary_color : #0079FD;
    --primary_color_light : #ACD8FF;
    --secondary_color: #8C87E0;
    --text_primary: #404F5C;
}

.padding_top{
    padding-top: 50px;
}

.pd_bot{
    padding-bottom: 50px;
}

.pdg_small{
    padding: 1rem 0;
}

.line_text{
    line-height: 1.5rem;
}

.line_text_bigger{
    line-height: 2rem;
}

.smaller_font{
    font-size: 14px;
}

.even_smaller_font{
    font-size: 12px;
}

.purple{
    color:var(--secondary_color)
}

.white_text{
    color: white;
}

.font_weight{
    font-weight: 300;
}

.big{
    font-size: 40px;
}