*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug_box{
    background-color: var(--primary_color_light);
    height: 80px;
    padding: 1rem;
}

.card{
    padding: 1rem 0.75rem ;
    width: 100%;   
}

.card{
    background-color: var(--primary_color_light);
    margin: 0.75rem;
}

/* .cards{
    margin: 0 -0.75rem;
    width: 100%;
} */

.container{
    margin: 0 -0.75rem;
}

.img{
    height: 50px;
    background-color: red;
}

.text{
    height: 50px;
    background-color: yellow;
}

.button{
    height: 20px;
    background-color: black;
}

#planning{
    min-height:300px ;
}

#planning.container{
    width: 90%;
}

.debug_box.left_pic{
    background-color: aqua;
    height: 200px;
    margin-bottom: 2rem;
}

.debug_box.right_pic{
    background-color: green;
    height: 200px;
}

.introduction{
    background-color: bisque;
    height: 200px;
    
}

.small_text{
    background-color: greenyellow;
    height: 20px;
}

.small_title{
    background-color: blueviolet;
    height: 40px;
   
}

.paragraph{
    background-color: hotpink;
    height: 50px;
}

.number{
    background-color: indianred;
    height: 30px;
}
.little_title{
    background-color: lime;
    height: 20px;
}
.parag{
    background-color: paleturquoise;
    height: 60px;
}

.us_top{
    background-color: mediumspringgreen;
    height: 200px;
}
/* css */

header{
    background-color: var(--primary_color);
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.header_top{
    height: 100%;
}

main{
    padding-top: 100px;
}

.container{
    max-width: 600px;
    margin: auto;
    /* max-width: 90%; */
    padding: 0 2rem;
}

.container.top{
    height: 100%;
}

.box.right i{
    color: white;
}

.hidden{
    display: none;
}

.hidden li {
    list-style: none;
}

.hidden a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.btn{
    border-radius: 5px;
    padding: 5px;
    
}



a.btn{
    color: black;
    background-color: white;
}

a.blue{
    background-color: var(--primary_color);
    color: white;
}

.first > .card_top{
    text-align: center;
    padding-bottom: 1rem;
}

.first > i{
    padding-top: 1rem;
}

.card_top > p {
    padding-bottom: 20px;
} 

img.phone{
     width: 100%;    
} 

.card{
    text-align: center;
}

.card_top > i{
    color: var(--primary_color);
    font-size: 5rem;
    text-align: center;
}

#planning,#working_with_us,#get_started{
    background-color: var(--secondary_color);  
}

#testimonials{
    padding-top: 50px;
}

.testimonial{
    margin-top: 50px;
    height: 200px;
    background-color: blue;
}

.pic{
    background-color: darkmagenta;
    height: 50px;
}

.name{
    background-color: peru;
    height: 20px;
}


footer{
    background-color: black;
}
@media screen and (min-width: 768px)
{
    .container{
        max-width: 740px;       
    }

    .cards{
        display: flex;
        flex-wrap: wrap;             
    }

    .card.first{
        width: calc((100% / 3) * 2 - 1.5rem);
           
    } 

    .first > .card_top {
        text-align: left;
        padding-bottom: 1rem;
    }

    .card{
        width: calc(100% / 3 - 1.5rem);         
        /* margin: 1rem 0.75rem ; */
    }

    img.phone {
        width: 50%;
    }
   

    .card.bot{
        /* width: calc(100% / 2 - 1.5rem); */
        /* margin: 1rem 0.75rem ; */
    }

    /* .card_bot img{
        width: 200px;
    } */

    #about_us .container{
        display: flex;
    }

    .us_top,.us_bot{
        width: 100%;
    }
}

@media screen and (min-width: 992px)
{
    .container{
        max-width: 960px;
    }

    .visible{
        display: none;
    }

    .hidden{
        display: block;
    }

    .hidden ul{
        display: flex;
    }

    .card.first{
        
        display: flex;
        justify-content: space-between;
       
    } 

    img.phone {
        width: 100%;
    }

    .cols{
        display: flex;
    }

    .col{
        width: 100%;
        margin: 10px;
    }

    #planning .container{
        padding: 0 6rem;
    }

    .testimonial{
        display: flex;
    }

    .pic,.testimonial_text{
        width: 100%;
    }



    /* .card.bot{
        width: calc(100% / 3 - 1.5rem);       
        padding: 0;
        margin: 1rem 0.75rem ;
    } */

    #get_started .container, footer .container{
        width: 60%;
    }
}

@media screen and (min-width: 1200px)
{
    .container{
        max-width: 1170px;
    }
}


/* utility */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.rounded{
    border-radius: 1.5rem;
}

/* .card_top{
    border-radius: 1.5rem 1.5rem 0 0;
    text-align: center;
    
} */

/* .card_bot{
    
    border-radius: 0 0 1.5rem 1.5rem;
} */

:root{
    --primary_color : #0079FD;
    --primary_color_light : #ACD8FF;
    --secondary_color: #8C87E0;
}

.padding_top{
    padding-top: 50px;
}