*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug_box{
    background-color: var(--primary_color_light);
    height: 80px;
    padding: 1rem;
}

.card{
    margin: 1rem 0.75rem ;
    width: 100%;  
}

.cards{
    margin: 0 -0.75rem;
}

.img{
    height: 50px;
    background-color: red;
}

.text{
    height: 50px;
    background-color: yellow;
}

.button{
    height: 20px;
    background-color: black;
}

#planning{
    min-height:300px ;
}

#planning.container{
    width: 90%;
}

.debug_box.left_pic{
    background-color: aqua;
    height: 200px;
    margin-bottom: 2rem;
}

.debug_box.right_pic{
    background-color: green;
    height: 200px;
}
/* css */

header{
    background-color: var(--primary_color);
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.header_top{
    height: 100%;
}

main{
    padding-top: 100px;
}

.container{
    max-width: 600px;
    margin: auto;
}

#planning{
    background-color: var(--secondary_color);
    padding-top: 50px;
}

@media screen and (min-width: 768px)
{
    .container{
        max-width: 740px;       
    }

    .cards{
        display: flex;
        flex-wrap: wrap;             
    }

    .card:first-child{
        width: calc((100% / 3) * 2 - 1.5rem);
    }

    .card{
        width: calc(100% / 3 - 1.5rem);
    }


}

@media screen and (min-width: 992px)
{
    .container{
        max-width: 960px;
    }

    .cols{
        display: flex;
    }

    .col{
        width: 100%;
        margin: 10px;
    }

    #planning .container{
        padding: 0 6rem;
    }
}

@media screen and (min-width: 1200px)
{
    .container{
        max-width: 1170px;
    }
}


/* utility */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


:root{
    --primary_color : #0079FD;
    --primary_color_light : #ACD8FF;
    --secondary_color: #8C87E0;
   
}