*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug_box{
    background-color: var(--primary_color_light);
    height: 80px;
    padding: 1rem;
}

.card{
    padding: 1rem 0.75rem ;
    width: 100%; 
   
}

.cards{
    margin: 0 -0.75rem;
}

.container{
    margin: 0 -0.75rem;
}

.img{
    height: 50px;
    background-color: red;
}

.text{
    height: 50px;
    background-color: yellow;
}

.button{
    height: 20px;
    background-color: black;
}

#planning{
    min-height:300px ;
}

#planning.container{
    width: 90%;
}

.debug_box.left_pic{
    background-color: aqua;
    height: 200px;
    margin-bottom: 2rem;
}

.debug_box.right_pic{
    background-color: green;
    height: 200px;
}

.introduction{
    background-color: bisque;
    height: 200px;
    
}

.small_text{
    background-color: greenyellow;
    height: 20px;
}

.small_title{
    background-color: blueviolet;
    height: 40px;
   
}

.paragraph{
    background-color: hotpink;
    height: 50px;
}

.number{
    background-color: indianred;
    height: 30px;
}
.little_title{
    background-color: lime;
    height: 20px;
}
.parag{
    background-color: paleturquoise;
    height: 60px;
}

.us_top{
    background-color: mediumspringgreen;
    height: 200px;
}
/* css */

header{
    background-color: var(--primary_color);
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.header_top{
    height: 100%;
}

main{
    padding-top: 100px;
}

.container{
    /* max-width: 600px; */
    margin: auto;
    max-width: 90%;
}

#planning,#working_with_us{
    background-color: var(--secondary_color);
    padding-top: 50px;
}

#testimonials{
    padding-top: 50px;
}

.testimonial{
    margin-top: 50px;
    height: 200px;
    background-color: blue;
}

.pic{
    background-color: darkmagenta;
    height: 50px;
}

.name{
    background-color: peru;
    height: 20px;
}

@media screen and (min-width: 768px)
{
    .container{
        max-width: 740px;       
    }

    .cards{
        display: flex;
        flex-wrap: wrap;             
    }

    .card.first{
        width: calc((100% / 3) * 2 - 1.5rem);
    }

    .card{
        width: calc(100% / 3 - 1.5rem);       
        padding: 0;
        margin: 1rem 0.75rem ;
    }

    .card.bot{
        width: calc(100% / 2 - 1.5rem);
        padding: 0;
        margin: 1rem 0.75rem ;
    }

    #about_us .container{
        display: flex;
    }

    .us_top,.us_bot{
        width: 100%;
    }
}

@media screen and (min-width: 992px)
{
    .container{
        max-width: 960px;
    }

    .cols{
        display: flex;
    }

    .col{
        width: 100%;
        margin: 10px;
    }

    #planning .container{
        padding: 0 6rem;
    }

    .testimonial{
        display: flex;
    }

    .pic,.testimonial_text{
        width: 100%;
    }

    .card.bot{
        width: calc(100% / 3 - 1.5rem);       
        padding: 0;
        margin: 1rem 0.75rem ;
    }
}

@media screen and (min-width: 1200px)
{
    .container{
        max-width: 1170px;
    }
}


/* utility */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


:root{
    --primary_color : #0079FD;
    --primary_color_light : #ACD8FF;
    --secondary_color: #8C87E0;
}

.padding_top{
    padding-top: 50px;
}