*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* debug */

.debug_box{
    background-color: var(--primary_color_light);
}

.left,.right{
    height: 80px;
    width: 200px;
}

.card_bot ,.card_top{
    background-color: var(--secondary_color);
    width: 100%;
    height: 200px;
}


/* css */

header{
    background-color: var(--primary_color);
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.header_top{
    height: 100%;
}


main{
    padding-top: 100px;
}

.container{
    max-width: 1170px;
    margin: auto;
}

@media screen and (min-width: 768px)
{
    .container{
        max-width: 740px;
    }
}

@media screen and (min-width: 992px)
{
      .container{
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px)
{
      .container{
        max-width: 1170px;
    }
}


/* utility */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


:root{
    --primary_color : #0079FD;
    --primary_color_light : #ACD8FF;
    --secondary_color: #8C87E0;
   
}